<nav class="nav nav-pills nav-fill">
  <a class="nav-item nav-link active" href="#">Ativo</a>
  <a class="nav-item nav-link" href="#">Link</a>
  <a class="nav-item nav-link" href="#">Link</a>
  <a class="nav-item nav-link disabled" href="#">Desativado</a>
</nav>